.highlight {
  background: linear-gradient(pink 0 100%);
  background-position: 0 calc(100% - 2px);
  background-size: 100% 10px;
  background-repeat: no-repeat;
}

h2 {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

h2 img {
  width: 249.6px;
  height: 120px;
  margin-bottom: 29px;
}

h2 p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-decoration: underline#FF4F6E;
}

form {
  width: 392px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  color: var(--main--color);
  margin: auto;
}

.highlight {
  background: linear-gradient(pink 0 100%);
  background-position: 0 calc(100% - 2px);
  background-size: 10% 12px;
  background-repeat: no-repeat;
}
